.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Arial', sans-serif;
  min-height: 100vh;
  width: 100%;
  gap: 15px; 
}

.PokemonImage {
  max-width: 300px;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.Button {
  background-color: #f0f0f0;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.Button:hover {
  background-color: #ddd;
  transform: scale(1.05);
}

.Button:active {
  background-color: #ccc;
}

.GuessForm {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%; /* Asegúrate de que utiliza todo el ancho disponible */
}

h1 {
  color: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Conteo {
  margin-top: 20px;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.text-guess-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.text-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
}

.submit-button {
  background-color: #4CAF50;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.submit-button:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

.submit-button:active {
  background-color: #3e8e41;
}

.back-button {
  background-color: #FF6347;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin-top: 20px;
}

.back-button:hover {
  background-color: #FF4500;
  transform: scale(1.05);
}

.back-button:active {
  background-color: #FF0000;
}
